[user]
	email = davidgbeath@gmail.com
	name = David Beath
[push]
	default = simple
[merge]
        conflictstyle = diff3
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
